<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link th:href="@{/css/edit.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>비밀번호 변경</h2>
    <div class="info">
        <form role="form" action="/info/edit" th:object="${editForm}" method="post">
        <div class="info-field">
            <label th:for="current-password">현재 비밀번호:</label>
            <input type="password" th:field="${editForm.beforePwd}">
        </div>
        <div class="info-field">
            <label th:for="new-password">새 비밀번호:</label>
            <input type="password" th:field="${editForm.editPwd}">
        </div>
        <div class="info-field">
            <label th:for="confirm-new-password">새 비밀번호 확인:</label>
            <input type="password" th:field="${editForm.checkPwd}">
        </div>
        <button id="confirm-password-btn">확인</button>
        </form>
    </div>

</div>
</body>
</html>
