<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>학과 정보</title>
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
  <h2 class="welcome-message" th:text="|${name} 님 환영합니다|"></h2>
  <h1>학과 정보</h1>
  <div class="links">
    <a href="introduce" class="btn">학과 소개 이동</a>
    <a href="info" class="btn">회원 정보 확인</a>
    <a href="https://all.jbnu.ac.kr/jbnu/sugang/sbjt/sbjt.html" class="btn">강의 목록</a>
    <a href="myLecture" class="btn">본인 수강 과목 확인</a>
    <a href="rate" class="btn">학과별 경쟁률 확인</a>
    <a href="your_department.html" class="btn">본인 학과 확인</a>
    <a href="matching" class="btn">Matching Result (admin)</a>
  </div>
</div>
</body>
</html>
