<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>학과 정보</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" >
</head>
<body>
<div class="container">
  <h1>학과 정보</h1>
  <div class="links">
    <a href="basic/introduce" class="btn">학과 소개 이동</a>
    <a href="member_info.html" class="btn">회원 정보 확인</a>
    <a href="lecture_list.html" class="btn">강의 목록</a>
    <a href="available_lectures.html" class="btn">수강 가능한 강의</a>
    <a href="competition_ratio.html" class="btn">학과 경쟁률 확인</a>
  </div>
</div>
</body>
</html>
