<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="../../static/css/info.css">
</head>
<body>
<div class="container">
    <h2>비밀번호 변경</h2>
    <div class="info">
        <div class="info-field">
            <label for="current-password">현재 비밀번호:</label>
            <input type="password" id="current-password">
        </div>
        <div class="info-field">
            <label for="new-password">새 비밀번호:</label>
            <input type="password" id="new-password">
        </div>
        <div class="info-field">
            <label for="confirm-new-password">새 비밀번호 확인:</label>
            <input type="password" id="confirm-new-password">
        </div>
        <button id="confirm-password-btn">확인</button>
    </div>
</div>
</body>
</html>
