body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* 추가: 중앙 위쪽에 환영 메시지를 위치시키기 위해 수직 정렬을 설정 */
}

.container {
    text-align: center;
}

h1 {
    color: #333;
}

.welcome-message {
    color: #007bff; /* 환영 메시지 색상 설정 */
    margin-bottom: 20px; /* 환영 메시지와 타이틀 사이의 간격 설정 */
}

.links {
    margin-top: 30px;
}

.links .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.links .btn:hover {
    background-color: #0056b3;
}
